<header class="header">
  <a href="/" class="header__logo" style="color:#f5a4f5">Admin Panel</a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" style="color:#f5a4f5">Home</a>
      </li>
      <li>
        <a href="/about" style="color:#f5a4f5">About</a>
      </li>
      <li>
        <a href="/contact" style="color:#f5a4f5">Contact</a>
      </li>
    </ul>
  </nav>

  <div class="header__button">
    <form action="/logout">
      <button type="submit" style="color:#f5a4f5">Logout</button>
    </form>
  </div>
</header>
